@font-face {
    font-family: 'Bahianita';
    src: url('/Users/sulaimanabuqamar/Documents/Estarta/DVA/Bahianita/Bahianita-Regular.ttf');
  }

@font-face {
    font-family: 'Inter';
    src: url('/Users/sulaimanabuqamar/Documents/Estarta/DVA/Inter/Inter-VariableFont_slnt,wght.ttf');
  }

  @font-face {
    font-family: 'Roboto_Regular';
    src: url('/Users/sulaimanabuqamar/Documents/Estarta/DVA/Roboto/Roboto-Regular.ttf');
  }

