@import url('/static/CSS/Fonts.css');

.fill {
    margin-left: 300px;
}

.subtitle {
    color: #233754;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    color: #233754;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.fill {
    padding-left: 180px;
    padding-right: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form1 {
    width: 820px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #233754;
    background: #DFF0FF;
    display: flex;
    align-items: center;
}

.form2 {
    width: 800px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #233754;
    background: #DFF0FF;
    color: #233754;
    display: flex;
    align-items: center;
}

.form3 {
    width: 400px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #233754;
    background: #DFF0FF;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.submittedtext {
    margin-left: 10px;
    color: #233754;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: row;
  }


.forms1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
}

.check {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #233754;
}

.checktext {
    color: #233754;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.submit {
    width: 100%;
    height: 27px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #436495;
    border: none;
    color: #EAF5FF;
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    position: relative;
}

.add {
    cursor: pointer;
    width: 800px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #436495;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center
}

.addtext {
    color: #EAF5FF;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    display: flex;
    flex-direction: row;
}