{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Admin_Common.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Admin_Register2.css' %}">
    <title>Admin - Accounts</title>
</head>
<body>
        <div class="sidebar">
            <div class="sidebarcontainer">
                <a class="headertext" href="{% url 'admin_schedule' %}">SCHEDULE</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_register' %}">REGISTER</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_teams' %}">TEAMS</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_accounts' %}">ACCOUNTS</a>
            </div>
        </div>
            <div class="heading">
                <p class="titlefont">Schedule</p>
            </div>
            <div class="fill">
                <p class="title">Admin</p>
                <div class="form1">
                    <p class="submittedtext">Sulaiman Abuqamar</p>
                </div><br>
                <br>
                <p class="subtitle">Personal Details</p>
                <div class="forms1">
                    <div class="form3"><p class="submittedtext">Steve</p></div>
                    <div class="form3"><p class="submittedtext">0562914945</p></div>
                </div>
                <div class="forms1">
                    <div class="form3"><p class="submittedtext">Kerr</p></div>
                    <div class="form3"><p class="submittedtext">sabuqamar82@gmail.com</p></div>
                </div><br>
                <p class="subtitle">Login Details</p>
                <div class="forms1">
                    <div class="form3"><p class="submittedtext">sulaimanabuqamar</p></div>
                    <div class="form3"><p class="submittedtext">password123</p></div>
                </div>
            </div>
</body>
</html>