{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Admin_Common.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Admin_Schedule.css' %}">
    <title>Admin - Schedule</title>
</head>
<body>
        <div class="sidebar">
            <div class="sidebarcontainer">
                <a class="headertext" href="{% url 'admin_schedule' %}">SCHEDULE</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_register' %}">REGISTER</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_teams' %}">TEAMS</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_accounts' %}">ACCOUNTS</a>
            </div>
        </div>
            <div class="heading">
                <p class="titlefont">Schedule</p>
            </div>
            <div class="fill">
                <div class="monthbox">
                    <p class="month">September, 2023</p>
                    <button class="addgame"><h1 class="plus">+</h1></button>
                </div>
                <div class="schedule">
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                </div>
                <div class="monthbox">
                    <p class="month">October, 2023</p>
                    <button class="addgame"><h1 class="plus">+</h1></button>
                </div>
                <div class="schedule">
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                </div>
                <div class="monthbox">
                    <p class="month">November, 2023</p>
                    <button class="addgame"><h1 class="plus">+</h1></button>
                </div>
                <div class="schedule">
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                    <div class="game" onclick="document.location='boxscore'">
                        <div class="left">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                        <div class="middle">
                            <p class="date">Saturday, 15th</p>
                            <div class="score">
                                <p class="winscore">92</p>
                                <div class="gamestatus">Final</div>
                                <p class="losescore">82</p>
                            </div>
                            <p class="vs">VS</p>
                        </div>
                        <div class="right">
                            <img class="teamlogo" src="/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/mascot.png" alt="">
                            <p class="team">AMB</p>
                        </div>
                    </div>
                </div>
              </div>   
</body>
</html>