{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Admin_Common.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Admin_Register.css' %}">
    <title>Admin - Register</title>
</head>
<body>
        <div class="sidebar">
            <div class="sidebarcontainer">
                <a class="headertext" href="{% url 'admin_schedule' %}">SCHEDULE</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_register' %}">REGISTER</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_teams' %}">TEAMS</a>
                <div class="headerdivider"></div>
                <a class="headertext" href="{% url 'admin_accounts' %}">ACCOUNTS</a>
            </div>
        </div>
            <div class="heading">
                <p class="titlefont">Schedule</p>
            </div>
        <div class="fill">
            <div class="register" onclick="document.location='team'">
                <div class="details">
                    <p class="text">Al Mawakeb Al Barsha</p>
                    <div class="divider"></div>
                    <p class="text">12 Players</p>
                    <div class="divider"></div>
                    <img class="teamlogo" src="{% static '../media/images/mascot.png'%}" alt="">
                </div>
                <div class="decision">
                    <button class="decline" type="decline"><p class="decisiontext">decline</p></button>
                    <button class="accept" type="accept"><p class="decisiontext">accept</p></button>
                </div>
            </div>
            <div class="register" onclick="document.location='team'">
                <div class="details">
                    <p class="text">Al Mawakeb Al Barsha</p>
                    <div class="divider"></div>
                    <p class="text">12 Players</p>
                    <div class="divider"></div>
                    <img class="teamlogo" src="{% static '../media/images/mascot.png'%}" alt="">
                </div>
                <div class="decision">
                    <button class="decline" type="decline"><p class="decisiontext">decline</p></button>
                    <button class="accept" type="accept"><p class="decisiontext">accept</p></button>
                </div>
            </div>
            <div class="register" onclick="document.location='team'">
                <div class="details">
                    <p class="text">Al Mawakeb Al Barsha</p>
                    <div class="divider"></div>
                    <p class="text">12 Players</p>
                    <div class="divider"></div>
                    <img class="teamlogo" src="{% static '../media/images/mascot.png'%}" alt="">
                </div>
                <div class="decision">
                    <button class="decline" type="decline"><p class="decisiontext">decline</p></button>
                    <button class="accept" type="accept"><p class="decisiontext">accept</p></button>
                </div>
            </div>
            <div class="register" onclick="document.location='team'">
                <div class="details">
                    <p class="text">Al Mawakeb Al Barsha</p>
                    <div class="divider"></div>
                    <p class="text">12 Players</p>
                    <div class="divider"></div>
                    <img class="teamlogo" src="{% static '../media/images/mascot.png'%}" alt="">
                </div>
                <div class="decision">
                    <button class="decline" type="decline"><p class="decisiontext">decline</p></button>
                    <button class="accept" type="accept"><p class="decisiontext">accept</p></button>
                </div>
            </div>
            <div class="register" onclick="document.location='team'">
                <div class="details">
                    <p class="text">Al Mawakeb Al Barsha</p>
                    <div class="divider"></div>
                    <p class="text">12 Players</p>
                    <div class="divider"></div>
                    <img class="teamlogo" src="{% static '../media/images/mascot.png'%}" alt="">
                </div>
                <div class="decision">
                    <button class="decline" type="decline"><p class="decisiontext">decline</p></button>
                    <button class="accept" type="accept"><p class="decisiontext">accept</p></button>
                </div>
            </div>
            <div class="register" onclick="document.location='team'">
                <div class="details">
                    <p class="text">Al Mawakeb Al Barsha</p>
                    <div class="divider"></div>
                    <p class="text">12 Players</p>
                    <div class="divider"></div>
                    <img class="teamlogo" src="{% static '../media/images/mascot.png'%}" alt="">
                </div>
                <div class="decision">
                    <button class="decline" type="decline"><p class="decisiontext">decline</p></button>
                    <button class="accept" type="accept"><p class="decisiontext">accept</p></button>
                </div>
            </div>
        </div>
</body>
</html>