{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Common.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/LandingPage.css' %}">
    <title>Dubai Varsity Association</title>
</head>
<body>
    <style>
        body {
          background-color: #EAF5FF;
          background-image: url('/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/Background.png');
        }
        </style>
        <div class="football">
            <img src="{% static '/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/Comingsoon.png' %}" class="cs">
            <div class="divider1"></div>
            <p class="smalltext">FOOTBALL</p>
        </div>
        <div class="basketball" onclick="document.location='schedule'">
            <div class="divider2"></div>
            <p class="bigtext">BASKETBALL</p>
        </div>
        <div class="volleyball">
            <img src="{% static '/Users/sulaimanabuqamar/Documents/Estarta/DVA/Images/Comingsoon.png' %}" class="cs">
            <div class="divider1"></div>
            <p class="smalltext">VOLLEYBALL</p>
        </div>
    </body>
</html>