{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Common.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Register.css' %}">
      <title>Schedule</title>

      <div class="header">
        <div style="margin-right: 60px;">
            <a class="headertext" href="{% url 'schedule' %}">SCHEDULE</a>
            <div class="headerdivider"></div>
           <a class="headertext" href="{% url 'teams' %}">TEAMS</a>
           <div class="headerdivider"></div>
           <a class="headertext" href="{% url 'stats' %}">STATS</a>
           <div class="headerdivider"></div>
           <a class="headertext" href="{% url 'register' %}">REGISTER</a>
           <div class="headerdivider"></div>
           <a class="headertext" href="{% url 'about' %}">ABOUT</a>
        </div>
     </div>

   </head>
   <body>
      <div class="heading">
        <p class="titlefont">REGISTER</p>
      </div>
      <div class="fill">
        <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="title">Team Information</div>
          <div class="subtitle">School Name</div>
          <input type="text" name="{{ form.team_name.name }}" class="form1" required>
          <div class="subtitle">Team Logo</div>
          <input type="file" name="{{ form.team_logo.name }}" class="form2" required>
          <div class="subtitle">Manager Contact</div>
          <div class="forms1">
            <input type="text" name="{{ form.manager_fname.name }}" class="form3" placeholder="First Name" required>
            <input type="text" name="{{ form.manager_lname.name }}" class="form3" placeholder="Last Name" required>
          </div>
          <div class="forms1">
            <input type="text" name="{{ form.manager_number.name }}" class="form3" placeholder="Phone Number" required>
            <input type="text" name="{{ form.manager_email.name }}" class="form3" placeholder="Email Address" required>
          </div>
          
          <div class="title">Team Roster</div>
          <div class="subtitle">1ˢᵗ Player</div>
          <div class="forms1">
            <input type="text" name="{{ form.player_fname.name }}" class="form3" placeholder="First Name" required>
            <input type="text" name="{{ form.player_lname.name }}" class="form3" placeholder="Last Name" required>
          </div>
          <div class="forms1">
            <input type="text" name="{{ form.player_number.name }}" class="form3" placeholder="Phone Number" required>
            <input type="text" name="{{ form.player_email.name }}" class="form3" placeholder="Email Address" required>
          </div>
          <div class="forms1">
            <input type="date" name="{{ form.player_age.name }}" class="form3" placeholder="Age" required>
            <input type="file" name="{{ form.player_image.name }}" class="form3" placeholder="Player Image">
          </div>
          <br>
          <button type="button" class="submit" id="addPlayerField">Add Another Player</button>
          <br><br>
          <input type="checkbox" name="{{ form.check1.name }}" class="check" required>
          <label for="{{ form.check1.id_for_label }}" class="checktext">The person filling this form is the manager or a school administrator.</label><br>
          <input type="checkbox" name="{{ form.check2.name }}" class="check"required>
          <label for="{{ form.check2.id_for_label }}" class="checktext">All players have a team jersey.</label><br>
          <input type="checkbox" name="{{ form.check3.name }}" class="check" required>
          <label for="{{ form.check3.id_for_label }}" class="checktext">I agree to the terms and conditions.</label><br><br><br>
          <input type="submit" class="submit">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
        // Counter to track the number of player fields added
        var playerCount = 1;
        
        // Event listener for the "Add Another Player" button
        $("#addPlayerField").click(function() {
            playerCount++;
            
            // Function to get the appropriate ordinal indicator for a number
            function getOrdinalIndicator(number) {
            var suffix = "th";
            if (number % 10 === 1 && number % 100 !== 11) {
                suffix = "st";
            } else if (number % 10 === 2 && number % 100 !== 12) {
                suffix = "nd";
            } else if (number % 10 === 3 && number % 100 !== 13) {
                suffix = "rd";
            }
            return suffix;
            }
            
            // Create a new player form field section
            var ordinalIndicator = getOrdinalIndicator(playerCount);
            var newPlayerField = `
            <div class="subtitle">${playerCount}${ordinalIndicator} Player</div>
            <div class="forms1">
                <input type="text" name="{{ form.player_fname.name }}" class="form3" placeholder="First Name" required>
                <input type="text" name="{{ form.player_lname.name }}" class="form3" placeholder="Last Name" required>
            </div>
            <div class="forms1">
                <input type="text" name="{{ form.player_number.name }}" class="form3" placeholder="Phone Number" required>
                <input type="text" name="{{ form.player_email.name }}" class="form3" placeholder="Email Address" required>
            </div>
            <div class="forms1">
                <input type="date" name="{{ form.player_age.name }}" class="form3" placeholder="Age" required>
                <input type="file" name="{{ form.player_image.name }}" class="form3" placeholder="Player Image">
            </div>
            `;
            
            // Append the new player field section to the form
            $(".forms1").last().after(newPlayerField);
        });
        });
        </script>
        </form>
      </div>
      
   </body>
   <footer>
    <div class="footer">
       <div class="About">
          <img class="logo" src="{% static '../media/images/Logo.png'%}" alt="DVA Logo">
          <h2 class="footertitle">Dubai Varsity Association</h2>
          <p class="footerabout">Fostering sports excellence in schools through dedicated leagues for volleyball, basketball, and football.</p>
       </div>
       <div class="Leagues">
          <h4 class="footersubtitle">Leagues</h4>
          <a class="footertext" href="{% url 'home' %}">Football</a><br><br>
          <a class="footertext" href="{% url 'home' %}">Volleyball</a><br><br>
          <a class="footertext" href="{% url 'schedule' %}">Basketball</a>
       </div>
       <div class="Legal">
          <h4 class="footersubtitle">Legal</h4>
          <a class="footertext" href="{% url 'terms' %}">Terms</a><br><br>
          <a class="footertext" href="{% url 'privacy' %}">Privacy</a><br><br>
          <a class="footertext" href="{% url 'register' %}">Register</a>
       </div>
       <div class="Company">
          <h4 class="footersubtitle">Company</h4>
          <a class="footertext" href="{% url 'about' %}">About Us</a><br><br>
          <a class="footertext" href="{% url 'home' %}">Careers</a><br><br>
          <a class="footertext" href="{% url 'FAQs' %}">FAQs</a><br><br>
          <a class="footertext" href="{% url 'login' %}">Admin</a>
       </div>
       <div class="Contact">
          <h4 class="footersubtitle">Contact Us</h4>
          <div class="Contactinner">
             <img class="icon" src="{% static '../media/images/icon.png'%}" alt="Location">
             <p class="footertext">Wisconsin Ave, Suite 700 Chevy Chase, Maryland</p>
          </div>
          <h4 class="footersubtitle">Follow Us</h4>
          <div class="Followinner">
             <img class="icon" src="{% static '../media/images/social-1.png'%}" alt="Location">
             <img class="icon" src="{% static '../media/images/social-2.png'%}" alt="Location">
             <img class="icon" src="{% static '../media/images/social-3.png'%}" alt="Location">
             <img class="icon" src="{% static '../media/images/social.png'%}" alt="Location">
          </div>
       </div>
    </div>
 </footer>
</html>