{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Common.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Register.css' %}">
      <title>Schedule</title>

      <div class="header">
        <div style="margin-right: 60px;">
            <a class="headertext" href="{% url 'schedule' %}">SCHEDULE</a>
            <div class="headerdivider"></div>
           <a class="headertext" href="{% url 'teams' %}">TEAMS</a>
           <div class="headerdivider"></div>
           <a class="headertext" href="{% url 'stats' %}">STATS</a>
           <div class="headerdivider"></div>
           <a class="headertext" href="{% url 'register' %}">REGISTER</a>
           <div class="headerdivider"></div>
           <a class="headertext" href="{% url 'about' %}">ABOUT</a>
        </div>
     </div>

   </head>
   <body>
      <div class="heading">
        <p class="titlefont">REGISTER</p>
      </div>
      <div class="fill">
        <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <p class="title">Team Information</p>
        <p class="subtitle">School Name</p>
        <input type="text" id="team_name" name="team_name" class="form1" required><br>
        <p class="subtitle">Team Logo</p>
        <input type="file" id="team_lgo" name="team_logo" class="form2" required><br>
        <p class="subtitle">Manager Contact</p>
        <div class="forms1">
            <input type="text" id="manager_fname" name="manager_fname" class="form3" placeholder="First Name" required>
            <input type="text" id="manager_lname" name="manager_lname" class="form3" placeholder="Last Name" required>
        </div>
        <div class="forms1">
            <input type="text" id="manager_number" name="manager_number" class="form3" placeholder="Phone Number" required>
            <input type="text" id="manager_email" name="manager_email" class="form3" placeholder="Email Address" required>
        </div><br>
        <p class="title">Team Roster</p>
        <p class="subtitle">1ˢᵗ Player</p>
        <div class="forms1">
            <input type="text" id="player_fname" name="player_fname" class="form3" placeholder="First Name" required>
            <input type="text" id="player_lname" name="player_lname" class="form3" placeholder="Last Name" required>
        </div>
        <div class="forms1">
            <input type="text" id="player_number" name="player_number" class="form3" placeholder="Phone Number" required>
            <input type="text" id="player_email" name="player_email" class="form3" placeholder="Email Address" required>
        </div>
        <div class="forms1">
            <input type="date" id="player_age" name="player_age" class="form3" placeholder="Date of Birth" required>
            <input type="file" id="player_image" name="player_image" class="form3" >
        </div>
        <br>
        <input type="checkbox" name="check1" class="check">
        <label for="check1" class="checktext">The person filling this form is the manager or a school administrator.</label><br>
        <input type="checkbox" name="check2" class="check">
        <label for="check2" class="checktext">All players have a team jersey.</label><br>
        <input type="checkbox" name="check3" class="check">
        <label for="check3" class="checktext">I agree to the terms and conditions.</label><br><br><br>
        <input type="submit" class="submit">
    </form>
      </div>
   </body>
   <footer>
    <div class="footer">
        <div class="About">
            <img class="logo" src="{% static '../media/images/Logo.png'%}" alt="DVA Logo">
            <h2 class="footertitle">Dubai Varsity Association</h2>
            <p class="footerabout">Fostering sports excellence in schools through dedicated leagues for volleyball, basketball, and football.</p>
        </div>
        <div class="Leagues">
            <h4 class="footersubtitle">Leagues</h4>
            <p class="footertext">Football</p>
            <p class="footertext">Volleyball</p>
            <p class="footertext">Basketball</p>
        </div>
        <div class="Legal">
            <h4 class="footersubtitle">Legal</h4>
            <p class="footertext">Terms</p>
            <p class="footertext">Privacy</p>
            <p class="footertext">Handbook</p>
            <p class="footertext">Register</p>
        </div>
        <div class="Company">
            <h4 class="footersubtitle">Company</h4>
            <p class="footertext">About Us</p>
            <p class="footertext">Careers</p>
            <p class="footertext">FAQs</p>
            <p class="footertext">Admin</p>
        </div>
        <div class="Contact">
            <h4 class="footersubtitle">Contact Us</h4>
            <div class="Contactinner"><img class="icon" src="{% static '../media/images/icon.png'%}" alt="Location">
            <p class="footertext">Wisconsin Ave, Suite 700 Chevy Chase, Maryland</p></div>
            <h4 class="footersubtitle">Follow Us</h4>
            <div class="Followinner">
              <img class="icon" src="{% static '../media/images/social-1.png'%}" alt="Location">
              <img class="icon" src="{% static '../media/images/social-2.png'%}" alt="Location">
              <img class="icon" src="{% static '../media/images/social-3.png'%}" alt="Location">
              <img class="icon" src="{% static '../media/images/social.png'%}" alt="Location">
            </div>
        </div>
    </div>
   </footer>
</html>