{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'CSS/Common.css' %}">
      <link rel="stylesheet" href="{% static 'CSS/Stats.css' %}">
      <title>Schedule</title>
      <div class="header">
         <div style="margin-right: 60px;">
            <a class="headertext" href="{% url 'schedule' %}">SCHEDULE</a>
            <div class="headerdivider"></div>
            <a class="headertext" href="{% url 'teams' %}">TEAMS</a>
            <div class="headerdivider"></div>
            <a class="headertext" href="{% url 'stats' %}">STATS</a>
            <div class="headerdivider"></div>
            <a class="headertext" href="{% url 'register' %}">REGISTER</a>
            <div class="headerdivider"></div>
            <a class="headertext" href="{% url 'about' %}">ABOUT</a>
         </div>
      </div>
   </head>
   <body>
      <div class="heading">
         <p class="titlefont">STATS</p>
      </div>
      <div class="fill">

         <div class="statsbox" onclick="document.location='allstats'">
            <p class="title">Point Leaders</p>
            {% for Player in point_leaders|slice:":5" %}  
            <div class="playerbox">
                <img class="playerimage" src="{{ Player.player_image.url }}" alt="{{ Player.player_fname }} {{ Player.player_lname }}">
                <div class="playerinfo">
                    <p class="playername">{{ Player.player_fname }} {{ Player.player_lname }}</p>
                    <p class="playerteam">{{ Player.team_id.team_abbreviation }}</p>
                </div>
                <div class="statbox">
                    <p class="stat">{{ Player.points }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
            
         <div class="statsbox" onclick="document.location='allstats'">
            <p class="title">Assist Leaders</p>
            {% for Player in assist_leaders|slice:":5" %}  
            <div class="playerbox">
                <img class="playerimage" src="{{ Player.player_image.url }}" alt="{{ Player.player_fname }} {{ Player.player_lname }}">
                <div class="playerinfo">
                    <p class="playername">{{ Player.player_fname }} {{ Player.player_lname }}</p>
                    <p class="playerteam">{{ Player.team_id.team_abbreviation }}</p>
                </div>
                <div class="statbox">
                    <p class="stat">{{ Player.assists }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
         <div class="statsbox" onclick="document.location='allstats'">
            <p class="title">Rebound Leaders</p>
            {% for Player in rebound_leaders|slice:":5" %}  
            <div class="playerbox">
                <img class="playerimage" src="{{ Player.player_image.url }}" alt="{{ Player.player_fname }} {{ Player.player_lname }}">
                <div class="playerinfo">
                    <p class="playername">{{ Player.player_fname }} {{ Player.player_lname }}</p>
                    <p class="playerteam">{{ Player.team_id.team_abbreviation }}</p>
                </div>
                <div class="statbox">
                    <p class="stat">{{ Player.rebounds }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
         <div class="statsbox" onclick="document.location='allstats'">
            <p class="title">Block Leaders</p>
            {% for Player in assist_leaders|slice:":5" %}  
            <div class="playerbox">
                <img class="playerimage" src="{{ Player.player_image.url }}" alt="{{ Player.player_fname }} {{ Player.player_lname }}">
                <div class="playerinfo">
                    <p class="playername">{{ Player.player_fname }} {{ Player.player_lname }}</p>
                    <p class="playerteam">{{ Player.team_id.team_abbreviation }}</p>
                </div>
                <div class="statbox">
                    <p class="stat">{{ Player.blocks }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
         <div class="statsbox" onclick="document.location='allstats'">
            <p class="title">Steals Leaders</p>
            {% for Player in steal_leaders|slice:":5" %}  
            <div class="playerbox">
                <img class="playerimage" src="{{ Player.player_image.url }}" alt="{{ Player.player_fname }} {{ Player.player_lname }}">
                <div class="playerinfo">
                    <p class="playername">{{ Player.player_fname }} {{ Player.player_lname }}</p>
                    <p class="playerteam">{{ Player.team_id.team_abbreviation }}</p>
                </div>
                <div class="statbox">
                    <p class="stat">{{ Player.steals }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
         <div class="statsbox" onclick="document.location='allstats'">
            <p class="title">3PT Leaders</p>
            {% for Player in three_pointers_leaders|slice:":5" %}  
            <div class="playerbox">
                <img class="playerimage" src="{{ Player.player_image.url }}" alt="{{ Player.player_fname }} {{ Player.player_lname }}">
                <div class="playerinfo">
                    <p class="playername">{{ Player.player_fname }} {{ Player.player_lname }}</p>
                    <p class="playerteam">{{ Player.team_id.team_abbreviation }}</p>
                </div>
                <div class="statbox">
                    <p class="stat">{{ Player.three_pointers }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
   </body>
   <footer>
      <div class="footer">
         <div class="About">
            <img class="logo" src="{% static '../media/images/Logo.png'%}" alt="DVA Logo">
            <h2 class="footertitle">Dubai Varsity Association</h2>
            <p class="footerabout">Fostering sports excellence in schools through dedicated leagues for volleyball, basketball, and football.</p>
         </div>
         <div class="Leagues">
            <h4 class="footersubtitle">Leagues</h4>
            <a class="footertext" href="{% url 'home' %}">Football</a><br><br>
            <a class="footertext" href="{% url 'home' %}">Volleyball</a><br><br>
            <a class="footertext" href="{% url 'schedule' %}">Basketball</a>
         </div>
         <div class="Legal">
            <h4 class="footersubtitle">Legal</h4>
            <a class="footertext" href="{% url 'terms' %}">Terms</a><br><br>
            <a class="footertext" href="{% url 'privacy' %}">Privacy</a><br><br>
            <a class="footertext" href="{% url 'register' %}">Register</a>
         </div>
         <div class="Company">
            <h4 class="footersubtitle">Company</h4>
            <a class="footertext" href="{% url 'about' %}">About Us</a><br><br>
            <a class="footertext" href="{% url 'home' %}">Careers</a><br><br>
            <a class="footertext" href="{% url 'FAQs' %}">FAQs</a><br><br>
            <a class="footertext" href="{% url 'login' %}">Admin</a>
         </div>
         <div class="Contact">
            <h4 class="footersubtitle">Contact Us</h4>
            <div class="Contactinner">
               <img class="icon" src="{% static '../media/images/icon.png'%}" alt="Location">
               <p class="footertext">Wisconsin Ave, Suite 700 Chevy Chase, Maryland</p>
            </div>
            <h4 class="footersubtitle">Follow Us</h4>
            <div class="Followinner">
               <img class="icon" src="{% static '../media/images/social-1.png'%}" alt="Location">
               <img class="icon" src="{% static '../media/images/social-2.png'%}" alt="Location">
               <img class="icon" src="{% static '../media/images/social-3.png'%}" alt="Location">
               <img class="icon" src="{% static '../media/images/social.png'%}" alt="Location">
            </div>
         </div>
      </div>
   </footer>
</html>