{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'CSS/Common.css' %}">
      <link rel="stylesheet" href="{% static 'CSS/Teams.css' %}">
      <title>Schedule</title>
      <div class="header">
         <div style="margin-right: 60px;">
            <a class="headertext" href="{% url 'schedule' %}">SCHEDULE</a>
            <div class="headerdivider"></div>
            <a class="headertext" href="{% url 'teams' %}">TEAMS</a>
            <div class="headerdivider"></div>
            <a class="headertext" href="{% url 'stats' %}">STATS</a>
            <div class="headerdivider"></div>
            <a class="headertext" href="{% url 'register' %}">REGISTER</a>
            <div class="headerdivider"></div>
            <a class="headertext" href="{% url 'about' %}">ABOUT</a>
         </div>
      </div>
   </head>
   <body>
      <div class="heading">
         <p class="titlefont">TEAMS</p>
      </div>
      <table>
         <tr class="top">
            <th class="tag">#</th>
            <th></th>
            <th class="name">School</th>
            <th class="winloss">W</th>
            <th class="winloss">L</th>
         </tr>
         <tr>
            <td class="rank">1</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">2</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">3</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">4</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">5</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">6</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">7</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">8</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">9</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">10</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">11</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">12</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">13</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">14</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">15</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">16</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">17</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">18</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">19</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">20</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Al Mawakeb Al Barsha</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">21</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">22</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">23</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">24</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">25</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">26</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">27</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">28</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">29</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
         <tr>
            <td class="rank">30</td>
            <td class="mw"><img class="mascot" src="{% static '../media/images/mascot.png'%}" alt=""></td>
            <td class="teams">Dubai American Academy</td>
            <td class="games winbg">11</td>
            <td class="games">3</td>
         </tr>
      </table>
   </body>
   <footer>
      <div class="footer">
         <div class="About">
            <img class="logo" src="{% static '../media/images/Logo.png'%}" alt="DVA Logo">
            <h2 class="footertitle">Dubai Varsity Association</h2>
            <p class="footerabout">Fostering sports excellence in schools through dedicated leagues for volleyball, basketball, and football.</p>
         </div>
         <div class="Leagues">
            <h4 class="footersubtitle">Leagues</h4>
            <p class="footertext">Football</p>
            <p class="footertext">Volleyball</p>
            <p class="footertext">Basketball</p>
         </div>
         <div class="Legal">
            <h4 class="footersubtitle">Legal</h4>
            <p class="footertext">Terms</p>
            <p class="footertext">Privacy</p>
            <p class="footertext">Handbook</p>
            <p class="footertext">Register</p>
         </div>
         <div class="Company">
            <h4 class="footersubtitle">Company</h4>
            <p class="footertext">About Us</p>
            <p class="footertext">Careers</p>
            <p class="footertext">FAQs</p>
            <p class="footertext">Admin</p>
         </div>
         <div class="Contact">
            <h4 class="footersubtitle">Contact Us</h4>
            <div class="Contactinner">
               <img class="icon" src="{% static '../media/images/icon.png'%}" alt="Location">
               <p class="footertext">Wisconsin Ave, Suite 700 Chevy Chase, Maryland</p>
            </div>
            <h4 class="footersubtitle">Follow Us</h4>
            <div class="Followinner">
               <img class="icon" src="{% static '../media/images/social-1.png'%}" alt="Location">
               <img class="icon" src="{% static '../media/images/social-2.png'%}" alt="Location">
               <img class="icon" src="{% static '../media/images/social-3.png'%}" alt="Location">
               <img class="icon" src="{% static '../media/images/social.png'%}" alt="Location">
            </div>
         </div>
      </div>
   </footer>
</html>